# Browsers that we support in production

[production]
>0.2%
not dead
not op_mini all
last 2 versions
Chrome >= 60
Firefox >= 60
Safari >= 11
Edge >= 79
iOS >= 11
not IE 11

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version

