.section {
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 80px;
}

.headerCp {
	margin-bottom: 80px;
}

.heading {
	font-size: 48px;
	line-height: 56px;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
}

.content_group {
	display: flex;
	margin: auto;
}

.content_group:first-child {
	margin-bottom: 5rem;
}

.content_group_image_1,
.content_group_image_2 {
	height: 600px;
	width: 20rem;
	object-fit: cover;
	aspect-ratio: 16/9;
	/* border: 6px solid rgb(129, 206, 137); */
	border: 6px solid var(--primary-color);
	border-radius: 25px;
	filter: drop-shadow(0px 16px 53px rgba(129, 206, 137, 0.32));
}

.content_group_1_text,
.content_group_2_text {
	margin-top: 76px;
}

.content_group_1_text {
	max-width: 551px;
	margin-left: 166px;
}

.content_group_2_text {
	max-width: 521px;
	margin-right: 166px;
	text-align: left;
}

.content_group_heading {
	opacity: 90%;
	margin-bottom: 31px;
	font-size: 38px;
	line-height: 46px;
	/* color: var(--golden-purple-8); */
	color: darkslategray;
	font-weight: 500;
}

.content_group_subheading {
	margin-bottom: 38px;
	font-size: 18px;
	line-height: 38px;
}

@media (max-width: 1200px) {
	.d {
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.content_group_1_text {
		margin-left: 100px;
	}

	.content_group_2_text {
		margin-right: 100px;
	}
}

@media (max-width: 992px) {
	.headerCp {
		margin-bottom: 90px;
	}

	.heading {
		font-size: 38px;
		line-height: 46px;
	}

	.content_group:first-child {
		/* margin-bottom: 30px; */
		margin-bottom: 5rem;
	}

	.content_group_heading {
		font-size: 34px;
		line-height: 42px;
	}

	.content_group_subheading {
		font-size: 18px;
	}

	.content_group_1_text {
		margin-left: 62px;
	}

	.content_group_2_text {
		margin-right: 62px;
	}
}

@media (max-width: 768px) {
	.content_group_image_1 {
		margin-left: -25%;
	}

	.content_group_image_2 {
		margin-right: -15%;
	}

	.content_group_1_text {
		margin-left: 46px;
	}

	.content_group_2_text {
		margin-right: 46px;
	}

	.content_group:last-child {
		margin-left: -10%;
	}
}

@media (max-width: 576px) {
	.d {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.headerCp {
		margin-bottom: 60px;
	}

	.heading {
		line-height: 43px;
		font-size: 35px;
	}

	.content_group {
		flex-direction: column;
		align-items: center;
	}

	.content_group_image_1,
	.content_group_image_2 {
		height: 550px;
	}

	.content_group_image_1 {
		margin-left: 0;
	}

	.content_group_image_2 {
		margin-right: 0;
	}

	.content_group:first-child {
		margin-bottom: 60px;
	}

	.content_group:last-child {
		flex-direction: column-reverse;
		margin-left: 0;
	}

	.content_group_1_text,
	.content_group_2_text {
		margin-top: 40px;
		text-align: center;
	}

	.content_group_1_text {
		margin-left: 0;
	}

	.content_group_2_text {
		margin-right: 0;
	}

	.content_group_heading {
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 38px;
	}

	.content_group_subheading {
		margin-bottom: 25px;
		font-size: 18px;
		line-height: 26px;
	}
}

@media (max-width: 400px) {
	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.headerCp {
		margin-bottom: 40px;
	}

	.heading {
		font-size: 28px;
		line-height: 32px;
	}

	.content_group_image_1,
	.content_group_image_2 {
		height: 400px;
	}

	.content_group:first-child {
		margin-bottom: 40px;
	}

	.content_group_heading {
		font-size: 28px;
		line-height: 32px;
	}
}